{% extends "gestorApp/base.html" %}
{% load static %}

{% block titulo %}Agenda{% endblock %}

{% block css %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/lux/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %} 

{% block contenido %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h1 class="text-center">Agenda</h1>
    </div>
  </div>
</div>

<div id="calendar"></div>

<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabel">Crear Reserva</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" id="eventForm">
          {% csrf_token %}
          <div class="row">
            <div class="col-6 mb-3">
              <label>Titulo:</label>
              {{ form.nombreAgendado }} {{ form.nombreAgendado.errors }}
            </div>
            <div class="col-6 mb-3">
              <label>Hora de inicio</label>
              {{ form.fechaInicio }} {{ form.fechaInicio.errors }}
            </div>
            <div class="col-6 mb-3">
              <label>Hora de termino</label>
              {{ form.fechaTermino }} {{ form.fechaTermino.errors }}
            </div>
            <div class="col-6 mb-3">
              <label>Telefono</label>
              {{ form.telefono }} {{ form.telefono.errors }}
            </div>
            <div class="col-6 mb-3">
              <label>Tipo de vehiculo</label>
              {{ form.tipoVehiculo }} {{ form.tipoVehiculo.errors }}
            </div>
            <div class="col-6 mb-3">
              <label>Servicio solicitado</label>
              {{ form.servicioSolicitado }} {{ form.servicioSolicitado.errors }}
            </div>
            <div class="col-6 mb-3">
              <label>Descripcion</label>
              {{ form.descripcion }} {{ form.descripcion.errors }}
            </div>
            <div class="col-6 mb-3">
              <label>Estado</label>
              {{ form.estado }} {{ form.estado.errors }}
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="eliModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title" id="eventModalLabel">¿De verdad que quieres borrar el evento?</h5>
      </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button type="submit" class="btn btn-primary" id="siEli">Si</button>
          </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modiModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title" id="eventModalLabel">Evento modificado con exito</h5>
      </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      locales: 'es', 
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth',
      },
      buttonText: {
            today: 'Hoy',
            month: 'Mes',
            week: 'Semana',
            day: 'Día',
            list: 'Lista',
            
        },
        
      buttonIcons: true, // Muestra íconos en los botones de navegación
      navLinks: true, // Permite hacer clic en los nombres de día/semana para navegar
      editable: true,
      dayMaxEvents: true, // Permite mostrar el enlace "más" cuando hay muchos eventos
      selectable: true,
      selectMirror: true,
      select: function(info) {
        var startDate = new Date(info.start.getTime() - (info.start.getTimezoneOffset() * 60000)).toISOString().slice(0, 16);
        var endDate = new Date(info.end.getTime() - (info.end.getTimezoneOffset() * 60000)).toISOString().slice(0, 16);
        startDate = startDate.replace('T', ' ');
        endDate = endDate.replace('T', ' ');

        $('#id_fechaInicio').val(startDate);
        $('#id_fechaTermino').val(endDate);
        $('#eventModal').modal('show');
        calendar.unselect();
      },
      events: [
        {% for agenda in agendas %}
        {
          id: '{{ agenda.idAgendado }}',
          title: 'Nombre: {{ agenda.nombreAgendado }} Vehiculo: {{ agenda.tipoVehiculo }} Servicio: {{ agenda.servicioSolicitado }} Telefono: {{ agenda.telefono }}',
          start: '{{ agenda.fechaInicio|date:"Y-m-d H:i:s" }}',
          end: '{{ agenda.fechaTermino|date:"Y-m-d H:i:s" }}',
        },
        {% endfor %}
      ],
      eventClick: function(info) {
      var eventId = info.event.id;
      $('#eliModal').modal('show');
      
      $('#siEli').one('click', function() {
        $('#eliModal').modal('hide');
        info.event.remove();
        $.ajax({
          url: '/eliminarEvent/',
          type: 'POST',
          data: {
            event_id: eventId
          },
          dataType: 'json',
          success: function(response) {
            calendar.refetchEvents();
          },
          error: function(xhr, status, error) {
            console.error('Error al eliminar el evento:', error);
          }
        });
      });
    },
      eventDrop: function(info) {
        var start = info.event.start.toISOString();
        var end = info.event.end ? info.event.end.toISOString() : null;
        var id = info.event.id;

        $.ajax({
          url: '/modificarEvent/',
          type: 'POST',
          data: {
            event_id: id,
            start: start,
            end: end,
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          dataType: 'json',
          success: function(response) {
            $('#modiModal').modal('show');
          },
          error: function(xhr, status, error) {
            console.error('Error al modificar el evento:', error);
          }
        });
      },
    });

    calendar.render();
  });
</script>
{% endblock %}
