{% extends "gestorApp/base.html" %}
{% load static %}

{% block titulo %}Pagina de Inicio{% endblock %}
{% block atenciones %}active{% endblock %}
{% block css %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block contenido %}
    <div class="container mt-5">
        <h1>Registrar Atención</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="idPropietario">Cliente:</label>
                {{ form.idPropietario }}
                {% for error in form.idPropietario.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="fechaInicio">Fecha de inicio:</label>
                {{ form.fechaInicio }}
            </div>
            <div class="form-group">
                <label for="idVehiculo">Vehiculo:</label>
                {{ form.idVehiculo }}
                {% for error in form.idVehiculo.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                {{ form.descripcion }}
            </div>
            <div class="form-group">
                <label for="estado">Estado:</label>
                {{ form.estado }}
            </div>
            <div class="row">
                <div class="col-3">
                <button type="submit" class="btn btn-primary my-3">Guardar</button>
                </div><div class="col-3">
                    <a data-url="{% url 'eliminar_atencion' 0 %}" type="button" class="btn btn-warning my-3 disabled" id="btnEliminar">Eliminar</a>
                </div><div class="col-3">
                    <a data-url="{% url 'editar_atencion' 0 %}" type="button" class="btn btn-light border my-3 disabled" id="btnEditar">Editar</a>
                </div>
                <div class="col-3 d-flex justify-content-end">
                    <a data-url="{% url 'generate_pdf' 0 %}" type="button" class="btn btn-success border my-3 disabled" id="btnBoleta">Generar Boleta</a>
                </div>
            </div>
        </form>

        <hr>

        <h2>Listado de Atenciones</h2>
        <table class="table table-striped table-hover" id="atencionTable" style="width: 100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cliente</th>
                    <th>Fecha de Inicio</th>
                    <th>Vehículo</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for atencion in atenciones %}
                <tr>
                    <td data-idPropietario="{{ atencion.idPropietario.id }}">{{ atencion.id }}</td>
                    <td>{{ atencion.idPropietario.nombreCompleto }}</td>
                    <td>{{ atencion.fechaInicio }}</td>
                    <td>{{ atencion.idVehiculo.marca }}</td>
                    <td>{{ atencion.descripcion }}</td>
                    <td>{{ atencion.get_estado_display }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.responsive.min.js' %}"></script>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const clienteSelect = document.getElementById('idPropietario');
        const vehiculoSelect = document.getElementById('idVehiculo');
    
        clienteSelect.addEventListener('change', function() {
            const clienteId = clienteSelect.value;
            
            fetch(`/get_vehiculos/${clienteId}/`)
                .then(response => response.json())
                .then(data => {
                    vehiculoSelect.innerHTML = '';
                    
                    data.vehiculos.forEach(vehiculo => {
                        const option = document.createElement('option');
                        option.value = vehiculo.id;
                        option.textContent = vehiculo.nombre;
                        vehiculoSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error fetching vehicles:', error));
        });
    });

    $(document).ready(function () {
    $("#atencionTable").DataTable({
        language: {
        url: " {% static 'locale/datatables-plug-ins-2.0.8-i18n-es-CL.json' %}",
        },
        select: {
        style: "single",
        info: false,
        },
    });
    $("#atencionTable tr").on("click", function() {
        var urlEliminar = $("#btnEliminar").attr("data-url").slice(0, -1);

        while (urlEliminar[urlEliminar.length-1] != "/") {
            urlEliminar = urlEliminar.slice(0, -1);
        }
        
        urlEliminar = urlEliminar + $(this).children()[0].innerHTML + "/";

        $("#btnEliminar").attr("data-url", urlEliminar);

        var urlEditar = $("#btnEditar").attr("data-url").slice(0, -1);

        while (urlEditar[urlEditar.length-1] != "/") {
            urlEditar = urlEditar.slice(0, -1);
        }
        
        urlEditar = urlEditar + $(this).children()[0].innerHTML + "/";

        $("#btnEditar").attr("data-url", urlEditar);

        var urlBoleta = $("#btnBoleta").attr("data-url").slice(0, -1);

        while (urlBoleta[urlBoleta.length-1] != "/") {
            urlBoleta = urlBoleta.slice(0, -1);
        }
        
        urlBoleta = urlBoleta + $(this).children()[0].innerHTML + "/";

        $("#btnBoleta").attr("data-url", urlBoleta);

        if ($(this).hasClass("selected")) {
            $("#btnEliminar").addClass("disabled");
            $("#btnEditar").addClass("disabled");
            $("#btnBoleta").addClass("disabled");
        } else {
            $("#btnEliminar").removeClass("disabled");
            $("#btnEditar").removeClass("disabled");
            $("#btnBoleta").removeClass("disabled");
        }
    });
    });

    function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != "") {
    var cookies = document.cookie.split(";");
    for (var i = 0; i < cookies.length; i++) {
      var cookie = cookies[i].trim();
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) == name + "=") {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

    $("#btnEliminar").on("click", function () {
  $.ajax({
    url: $(this).attr("data-url"),
    cache: "false",
    dataType: "json",
    method: "POST",
    type: "POST",
    data: {
      csrfmiddlewaretoken: getCookie("csrftoken"),
    },
    success: function (data) {
      location.reload();
    },
    error: function (data) {
      location.reload();
    },
  });
  return false;});

  $("#btnEditar").on("click", function () {
  $.ajax({
    url: $(this).attr("data-url"),
    cache: "false",
    dataType: "json",
    method: "POST",
    type: "POST",
    data: {
      csrfmiddlewaretoken: getCookie("csrftoken"),
    },
    success: function (data) {
      location.reload();
    },
    error: function (data) {
      location.reload();
    },
  });
  return false;
});

$("#btnBoleta").on("click", function () {
  $.ajax({
    url: $(this).attr("data-url"),
    cache: "false",
    dataType: "json",
    method: "POST",
    type: "POST",
    data: {
      csrfmiddlewaretoken: getCookie("csrftoken"),
    },
    success: function (data) {
      location.reload();
    },
    error: function (data) {
      location.reload();
    },
  });
  return false;
});
</script>
{% endblock %}
