{% extends "gestorApp/base.html" %} {% load static %} {% block titulo %}Gestor
de Clientes{% endblock %} {% block css %}<link
  rel="stylesheet"
  href="{% static 'css/dataTables.bootstrap5.css' %}"
/>{% endblock %} {% block contenido %}
<div class="container">
  <form class="row g-3">
    <div class="col-md-6">
      <label for="inputNombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="inputNombre" />
    </div>
    <div class="col-md-6">
      <label for="inputApellido" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="inputApellido" />
    </div>
    <div class="col-md-6">
      <label for="inputRut" class="form-label">Rut</label>
      <input
        type="text"
        class="form-control"
        id="inputRut"
        placeholder="12345678-9"
      />
    </div>
    <div class="col-md-6">
      <label for="inputAddress2" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail"
        placeholder="email@correo.com"
      />
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" />
        <label class="form-check-label" for="gridCheck"> Check me out </label>
      </div>
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-primary">Ingresar</button>
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-warning">Eliminar</button>
    </div>
    <div class="col-8 d-flex justify-content-end">
      <button type="submit" class="btn btn-light border">Inspeccionar</button>
    </div>
  </form>

  <div class="my-5">
    <table
      id="clientsTable"
      class="table table-striped table-hover"
      style="width: 100%"
    >
      <thead>
        <tr>
          <th>Rut</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Num de autos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>System Architect</td>
          <td>Edinburgh</td>
          <td>61</td>
        </tr>
        <tr>
          <td>2</td>
          <td>System Architect</td>
          <td>Edinburgh</td>
          <td>61</td>
        </tr>
        <tr>
          <td>3</td>
          <td>System Architect</td>
          <td>Edinburgh</td>
          <td>61</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Rut</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Num de autos</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/datatables.min.js' %}"></script>
<script>
  $(document).ready(function () {
    $("#clientsTable").DataTable({language: {
        url: " {% static 'locale/datatables-plug-ins-2.0.8-i18n-es-CL.json' %}",
    }});
  });
</script>
{% endblock %}
