{% extends "gestorApp/base.html" %}
{% load static %}

{% block titulo %}Pagina de Inicio{% endblock %}

{% block css %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block contenido %}
<div class="container">
  <div class="row justify-content-center mt-5">
      <div class="col-md-8">
          <div class="row justify-content-center mt-1">
              <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Agenda</h2>
                        <div class="text-center mb-4">
                            <img src="{% static 'img/agenda.png' %}" alt="Agenda" class="img-fluid">
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Vehículos</h2>
                        <div class="text-center mb-4">
                            <img src="{% static 'img/vehiculos.png' %}" alt="Vehículos" class="img-fluid">
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Clientes</h2>
                        <div class="text-center mb-4">
                            <img src="{% static 'img/clientes.png' %}" alt="Clientes" class="img-fluid">
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
{% if agendas.exists %}
<table class="table mt-4 justify-content-center">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Fecha y hora</th>
            <th>Telefono</th>
            <th>Tipo de vehiculo</th>
            <th>Servicio</th>
            <th>Descripcion</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
    {% for agenda in agendas %}
        <tr>
            <td>{{ agenda.nombreAgendado }}</td>
            <td>{{ agenda.fechaInicio }}</td>
            <td>{{ agenda.telefono }}</td>
            {% if agenda.tipoVehiculo == 'VP' %}
            <td>Vehiculo Particular</td>
            {% elif agenda.tipoVehiculo == 'MP'%}
            <td>Maquinaria Pesada</td>
            {% elif agenda.tipoVehiculo == 'MT'%}
            <td>Motocicleta</td>
            {% elif agenda.tipoVehiculo == 'OT'%}
            <td>Otros</td>
            {% endif %}
            <td>{{ agenda.servicioSolicitado }}</td>
            <td>{{ agenda.descripcion }}</td>
            {% if agenda.estado == 'C' %}
            <td>Confirmado</td>
            {% elif agenda.estado == 'P' %}
            <td>Pendiente</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
  </div>
</div>
{% endblock %}
