{% extends "gestorApp/base.html" %}
{% load static %}

{% block titulo %}Generar Boleta{% endblock %}
{% block css %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
{% endblock %}

{% block contenido %}
<div class="container mt-5">
<div class="row justify-content-center">
    <div class="col-8">
        <h1>Generar Boleta para la Atención {{ atencion.id }}</h1>
    </div>

    <div class="row">
        <div class="input-group mb-3 col-4">
            <span class="input-group-text" id="inputGroup-sizing-default"><strong>Cliente:</strong></span>
            <input type="text" class="form-control" value="{{ atencion.idPropietario.nombreCompleto }}" disabled >
        </div>
        <div class="input-group mb-3 col-4">
            <span class="input-group-text" id="inputGroup-sizing-default"><strong>Vehiculo:</strong></span>
            <input type="text" class="form-control" value="{{ atencion.idVehiculo.marca }}" disabled >
        </div>
        <div class="input-group mb-3 col-4">
            <span class="input-group-text" id="inputGroup-sizing-default"><strong>Descripcion:</strong></span>
            <input type="text" class="form-control" value="{{ atencion.descripcion }}" disabled >
        </div>
        <div class="input-group mb-3 col-4">
            <span class="input-group-text" id="inputGroup-sizing-default"><strong>Fecha:</strong></span>
            <input type="text" class="form-control" value="{{ atencion.fechaInicio }}" disabled >
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text"><strong>Subtotal:</strong></span>
            <span class="input-group-text">${{ subtotal }}</span>
        </div>

    </div>    
    
</div>
    <form method="post">
        {% csrf_token %}
        <div class="form-group mt-2">
            <label for="totalMO">Costo Mano de Obra:</label>
            {{ form.totalMO }}
        </div>
        <button type="submit" class="btn btn-primary">Generar Boleta</button>
    </form>

    <hr>
    
    <h2>Repuestos Utilizados</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Costo</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for repuesto in repuestos %}
            <tr>
                <td>{{ repuesto.nombreRepuesto }}</td>
                <td>{{ repuesto.marca }}</td>
                <td>{{ repuesto.costoRepuesto }}</td>
                <td>{{ repuesto.cantidad }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
