{% extends "gestorApp/base.html" %}

{% block titulo %}Pagina de Inicio{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid px-auto">
      <a class="navbar-brand mx-auto h1 fs-1" href="#">Taller Mecanico Familia Callejas</a>
  </div>
</nav>
{% endblock %}

{% block contenido %}
<div class="container">
  <div class="row justify-content-center mt-5">
    {% if user.is_authenticated %}
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center mb-4">Bienvenido/a {{ user.nombreCompleto }}</h2>
                <div class="row justify-content-between">
                    <div class="col-md-4 mx-auto">
                        <a href="{% url 'logout' %}" type="button" class="btn btn-danger btn-block mx-auto">Cerrar Sesión</a>
                    </div><div class="col-md-4 mx-auto">
                        <a href="{% url 'dashboard' %}" type="button" class="btn btn-primary btn-block mx-auto">Ir al Inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
      <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                  <h2 class="text-center mb-4">Inicio de Sesión</h2>
                  <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="row">
                        <div class="d-grid col-12 mt-3">
                            <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                        </div>
                        <div class="col-6">
                            <!-- <button type="submit" class="btn btn-danger btn-block">Salir</button> -->
                        </div>
                    </div>
                  </form>
              </div>
          </div>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}