{% extends "gestorApp/base.html" %}
{% load static %}

{% block titulo %}Pagina de Inicio{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/loginStyle.css' %}">
<style>
body {
    
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/lux/bootstrap.min.css">
{% endblock %}

{% block navbar %}
 
{% endblock %}

{% block contenido %}
<div class="container">
        <div class="row justify-content-center">
            <div class="login-container col-sm-6">
                <div class="login-content">
                    {% if user.is_authenticated %}
                    <div class="auth-content">
                        <h2 class="text-center">¿Que quieres hacer {{ user.nombreCompleto }}?</h2>
                        <div class="buttons">
                            <a href="{% url 'logout' %}" class="btn btn-danger">Cerrar Sesión</a>
                            <a href="{% url 'dashboard' %}" class="btn btn-primary">Ir al Inicio</a>
                        </div>
                    </div>
                    {% else %}
                    <h2 class="login-title">Bienvenida Familia Callejas</h2>
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-warning btn-block">Entrar</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}