
/* Estilos generales para el navbar */
.navbar {
    font-size: 1rem; /* Tamaño de fuente consistente */
    background-color: #E7E7E7;
    font-family: 'Roboto', sans-serif; /* Aplicar la fuente Roboto */
}

.navbar .nav-link {
    font-size: 1.1rem; /* Aumentar tamaño de fuente */
    font-weight: 500; /* Peso medio de la fuente */
    color: #333; /* Color de texto */
    margin-left: 1rem; /* Espaciado entre enlaces */
    transition: color 0.3s ease, text-shadow 0.3s ease; /* Transición suave para el color y sombra de texto */
}

.navbar .nav-link:hover {
    color: #007BFF; /* Color al pasar el mouse */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); /* Sombra de texto al pasar el mouse */
}

.navbar .nav-link.active {
    font-weight: 700; /* Peso de fuente más grueso para el enlace activo */
    color: #0056b3; /* Color para el enlace activo */
}

.navbar .navbar-brand {
    font-size: 1.5rem; /* Tamaño de fuente para la marca del navbar */
    font-weight: 700; /* Peso de fuente más grueso */
}

/* Ajustes específicos para pantallas pequeñas */
@media (max-width: 767.98px) {
    .navbar .nav-link {
        font-size: 0.875rem; /* Tamaño de fuente para pantallas pequeñas */
    }
}

h2, label {
    color: white !important;
}

.dt-info{
    color: white;
}
#clientsTable {
    color: white; /* Aplica color blanco al texto de toda la tabla */
}

#clientsTable th, #clientsTable td {
    color: white !important; /* Asegura que tanto th como td tengan texto blanco */
}
#vehiculoTable {
    color: white; /* Aplica color blanco al texto de toda la tabla */
}

#vehiculoTable th, #vehiculoTable td {
    color: white !important; /* Asegura que tanto th como td tengan texto blanco */
}
#agendaTable {
    color: white; /* Aplica color blanco al texto de toda la tabla */
}

#agendaTable th, #agendaTable td {
    color: white !important; /* Asegura que tanto th como td tengan texto blanco */
}
#atencionTable {
    color: white; /* Aplica color blanco al texto de toda la tabla */
}

#atencionTable th, #atencionTable td {
    color: white !important; /* Asegura que tanto th como td tengan texto blanco */
}
#repuestoTable {
    color: white; /* Aplica color blanco al texto de toda la tabla */
}

#repuestoTable th, #repuestoTable td {
    color: white !important; /* Asegura que tanto th como td tengan texto blanco */
}
#boletaTable {
    color: white; /* Aplica color blanco al texto de toda la tabla */
}

#boletaTable th, #boletaTable td {
    color: white !important; /* Asegura que tanto th como td tengan texto blanco */
}
#detalleBoletaTable {
    color: white; /* Aplica color blanco al texto de toda la tabla */
}

#detalleBoletaTable th, #detalleBoletaTable td {
    color: white !important; /* Asegura que tanto th como td tengan texto blanco */
}





